<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/9c35772714.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' href='static/css/style.css'>
  <title>Bootstrap Theme</title>
</head>
<body data-spy='scroll' data-target='#main-nav' id='home'>
  <div id="navbar"></div>
  <div class="m-3">
    <h3 class="p-3">Our Mission</h3>
    <ul class="list-group">
      <li class="list-group-item"><span class="font-weight-bold">Create a community for Chess Players at the University of Michigan</span>: Whether it's seeing people solving tactics in a large lecture hall, or coming over to play a game when we're outside, we've seen there are a large number of Chess players at the University of Michigan. We want to unite these people and give them a place that they can come together and play Chess.</li>
      <li class="list-group-item"><span class="font-weight-bold">Help people who want to improve</span>: Each of us reached the level that we are at because of help from other people, and we want to give back and help other people improve their Chess. If that's something you want, we have a number of resources available, as well as people who can help you get on the right path.</li>
    </ul>
  </div>
  <div class="react-card m-3">/api/about/officers</div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/bundle.js"></script>
  <script>
  // Get current year for the copyright
  $('#year').text(new Date().getFullYear());

  $('body').scrollspy({ target: '#main-nav' });

    // Add smooth scrolling`
    $('#main-nav a').on('click', function(e) {
      // Check for a hash
      if(this.hash !== '') {
        e.preventDefault();
        const hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function() {
          window.location.hash = hash;
        });
      }
    });

  </script>
</body>
</html>
