<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/9c35772714.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' href='static/css/style.css'>
  <title>University of Michigan Chess Team</title>
</head>
<body data-spy='scroll' data-target='#main-nav' id='home'>

  <div id="navbar"></div>

  <section id="slider">
    <div id="myCarousel" class="carousel slide" data-ride='carousel'>
      <ol class="carousel-indicators">
        <li class="active" data-target='#myCarousel' data-slide-to='0'></li>
        <li data-target='#myCarousel' data-slide-to='1'></li>
        <li data-target='#myCarousel' data-slide-to='2'></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="michigan-colors carousel-caption d-none d-sm-block text-right mb-5">
              <!-- <h1 class="display-3">Meetings</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, rerum.</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <!-- <h1 class="display-3">Education</h1>
              <p class="lead">We have a number of great resources, including lessons</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <!-- <h1 class="display-3">T-Shirts</h1>
              <p class="lead">Ask about buying a T-shirt</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class=" py-2 pl-5 row michigan-colors michigan-background h1 text-center">
    WELCOME TO THE UNIVERSITY OF MICHIGAN CHESS CLUB
  </div>

  <section id="main">
    <div class="">
      <div class="row d-flex">
        <div class="react-card border-0 p-5 mx-auto">/api/main</div>
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="bg-dark row">
      <p class='m-2 text-light pl-5'>Umich</p>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/bundle.js"></script>
  <script>
  // Get current year for the copyright
  $('#year').text(new Date().getFullYear());

  $('body').scrollspy({ target: '#main-nav' });

    // Add smooth scrolling`
    $('#main-nav a').on('click', function(e) {
      // Check for a hash
      if(this.hash !== '') {
        e.preventDefault();
        const hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function() {
          window.location.hash = hash;
        });
      }
    });

    // Configure slider
  $('.carousel').carousel({
    interval: 6000,
    pause: 'hover'
  });

  </script>
</body>
</html>
